body{
    margin:0;
    padding:0;
    cursor: pointer;
}
section{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(24, 8, 127, 0.858),rgba(97, 6, 177, 0.824))
}
.rocket{
    pointer-events:none;
    position:absolute;
    top:60%;
    left:15%;
    height:200px;
    width:200px;
    text-align:center;
    font-size:8em;
    line-height:200px;
    border-radius:50%;
    box-shadow: inset 0 0 50px rgba(225,225,225,0.1);
    animation:rocket 3s linear infinite;
}
.rocket:before
{
    content:'';
    position:absolute;
    top:90px;
    left:20px;
    width:30%;
    height:60%;
    background-color: #ff0;
    border-radius:50%;
    filter:blur(15px);
    transform:rotate(45deg);
    z-index:-1;
    animation:animate 3s linear infinite;
}
@keyframes animate{
    0%{
        background: #0077ff9d;
        transform:rotate(45deg) scaleY(1);
    }
    25%{
        background: #ffff90 ;
        transform:rotate(45deg) scaleY(2);
        
        
    }
    50%{
        background: #ff4d00c7;
        transform:rotate(45deg) scaleY(2.3);
    }
     75%{
        background: #ffda09;
        transform:rotate(45deg) scaleY(2);
    }
    100%{
        background: #0077ffab;
        transform:rotate(45deg) scaleY(2);
    }
}
@keyframes rocket{
    0%{
        transform:translate(-20px,-20px)
    }
    25%{
        transform:translate(20px,0px)
    }
    50%{
        transform:translate(-20px,20px)
    }
    75%{
        transform:translate(20px,0px)
    }
    100%{
        transform:translate(-20px,-20px)
    }
}
.rocket i{
    color:white;
}